body {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	margin: 0;

	line-height: 1.5rem;

	@media (min-width: 768px) {
		background-color: hsl(30, 54%, 90%);
	}
}

h1,
h2 {
	font-family: "Young Serif", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size: 37px;
	line-height: 1;
}

h2 {
	color: hsl(14, 45%, 36%);
	font-size: 24px;
}

main {
	display: flex;
	justify-content: center;
}

article {
	background-color: white;
	width: 100%;
	padding: 30px;

	@media (min-width: 768px) {
		max-width: 650px;
		margin: 150px 0 100px;
		padding: 40px;
		border-radius: 30px;
	}
}

hr {
	margin: 30px 0;
}

img {
	width: calc(100% + 60px); /* doen met vw unit! */
	margin: -30px 0 0 -30px;

	@media (min-width: 768px) {
		width: 100%;
		margin: 0;
		border-radius: 15px;
	}
}

ul,
ol {
	padding-left: 25px;
}
li {
	margin-bottom: 10px;
	padding-left: 15px;
}

li > span {
	display: inline-block;
	vertical-align: middle;
}

.preparation {
	background-color: hsl(330, 100%, 98%);
	padding: 20px;
	border-radius: 20px;

	& h2 {
		font-family: "Outfit", sans-serif;
		font-weight: 600;
		font-size: 20px;
		color: hsl(332, 51%, 32%);
	}

	& li::marker {
		color: hsl(332, 51%, 32%);
	}
}

.ingredients {
	& ul {
		list-style-type: square;
	}

	& li::marker {
		color: hsl(14, 45%, 36%);
		font-size: 12px;
	}
}

.instructions {
	& li::marker {
		color: hsl(14, 45%, 36%);
		font-weight: bold;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	padding: 10px 0;
	border-bottom: 1px solid hsl(30, 18%, 87%);

	&.nutrition-type {
		padding-left: 25px;
	}

	&.nutrition-value {
		font-weight: bold;
		color: hsl(14, 45%, 36%);
	}
}

.attribution {
	font-size: 11px;
	text-align: center;

	& a {
		color: hsl(228, 45%, 44%);
	}
}
